<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mera ejs home page</title>
</head>
<body>
    <!--dekh res.render help us to send the whole foile thike isme hame ejs extensin se hi file banani padhti h or mene folder ka name view rakhs h kyuki express 
    view ko dhundega -->
    <h1>babji ka daba 6+9 </h1>
    <h3><%= 6+9 %></h3> <!--ye tag na outout dega 6+9 ka iske andr me kuch bhi bhej sakta hu array string etc-->
    <h5> <%= ["aplle,12,pahad"] %></h5>
    <p>ojo paj lassi tui wich lund Lorem ipsum, dolor sit amet consectetur adipisicing elit. A in excepturi repudiandae praesentium velit aliquam natus. Perferendis reiciendis tenetur molestias voluptatum dolorum magnam quod corrupti eum minima et cum neque sed, praesentium consequatur accusamus debitis enim similique id, a, minus iure cupiditate placeat molestiae necessitatibus. Nemo hic ullam laudantium debitis?</p>
    <li>kurkure</li>
    <ul>chai</ul>
    <button>muje ppelo ji</button>

    <!--bhai ejs me bhi kuch specific tag hote h tu net pe ejs.co me jake padh sakta h ek tag h jisse me apne 
    html code ko or dynamic bana sakta hu dekh mene vo h3 me use kra h  -->
    
</body>
</html>