<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--saaap sidhi me 6 ata hena toh ek message print hoga dekhna ejs ka ek or tag h use kr rha hu dekh-->
<!--code nahi chalega bs tu ye samj le ki ejs ka tag use krke tu ese andr logic bana sakta h -->
    <h1>ha b hai ghumaya tune dice </h1>
    
    <% if (diceval==6){ %>
        <h3>bhai 6 aya h ek or chance le tu toh </h3>
   <% }>%

    
</body>
</html>