<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts" > <!--dekh form ke andr mene uskoo bta diya h ki tuje post ko bhjni h /posts ko jese sumbit me click krunga ye muje post api pe bhej dega-->
        <input placeholder="enter your name" name="usernames"/>
        <br> <br/>
        <br> <br/>
        <textarea placeholder="write your thoughts" name="content"></textarea>
        <button> sumbit here</button>

    </form>
</body>
</html>