<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="style.css">
</head>
<body><!--hamare sahi name ke varible me perticular id ki sari details a gai h ab ham iss html
    page ko rendewr krwa denge -->
    <h1>here is your detail about perticular</h1>
    <p>ye  post id : <%= sahi.id %></p>
    <div class="likha">
    <h3 class="user"> bande ka name : <%=sahi.usernames%></h3>
    <h4 class="baat">kya thoughts h : <%=sahi.content%></h4>

    </div>
    
    <p>
dekh bhai ye mene code me jo sahi naam ka variable banaya hena vo index.ejs me
    undifiened h jiski vajh se me baar baar 3aaa vali id pe a rha hu tuje agar perticular id traverl krni h toh plzz
    searchbar se krte ja main post se details pe click krega toh ek hi id pe ayega iss prob ka reason h sahi vala variable
    </p>

</body>
</html>