<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>email</th>
            <th>username</th>
        </tr>

       <% for (user of users ){ %>           <!-- ya fir user of result -->
    <tr>
        <td> <%= user.id %> </td> <!--for of loop me user nam ka variable h -->
         <td> <%= user.email %> </td>
          <td> <%= user.username %> </td>

          <td>
          <form method="GET" action="/user/<%=user.id %>/edit">
          <button>edit username</button>
          </form>
          </td>
    </tr>
<% } %>
    </table>
</body>
</html>

